# valid identifiers

In [41]:
age = 25
name = 'hari'
my_var = 35.65
score_1 = 345
_ram_is_reading = True
my_numb = 3+4j
_PI = 3.14159

# invalid identifiers

In [11]:
1st_name = 'nidamaneni'

SyntaxError: invalid decimal literal (1379749492.py, line 1)

In [23]:
total -price = 200.6

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (829636676.py, line 1)

In [15]:
class = 'python'

SyntaxError: invalid syntax (1215685000.py, line 1)

In [17]:
my variable = 34

SyntaxError: invalid syntax (1312878432.py, line 1)

# variable identifier

In [26]:
x = 10  # x and y are valid variable identifiers
y = 'ram'

# function identifier

In [31]:
def greating(name):  # greating is a function identifier
    print(f'hello {name}!')

greating('ram')

hello ram!

# class identifier

In [36]:
class car:  # car is a valid class identifier
    def __init__(self, make, model):
        self.make = make
        self.model = model


my_car = car('toyota','corolla')  # my_car is  and identifier for the car

# module identifier

In [39]:
import math  #math is module name and is an identifier
print(math.pi)

3.141592653589793