# TUPLE

- Silimar to list except objects are immutable cant change the elements once asigned
- - prefered for data that cant be changed over time
  - - iterating over the lements is faster that in list

In [8]:
t = ()

In [10]:
t

()

In [12]:
type(t)

tuple

In [14]:
t1 = 3, 4, 5, 6

In [16]:
t1

(3, 4, 5, 6)

In [18]:
type(t1)

tuple

In [20]:
t2 =(10,20,30)

In [22]:
t2

(10, 20, 30)

In [24]:
t.count() # can pass one argument

TypeError: tuple.count() takes exactly one argument (0 given)

In [26]:
t1.count(5)

1

In [28]:
t1[0]

3

In [30]:
t1[0] = 35

TypeError: 'tuple' object does not support item assignment

In [32]:
l = [400,20,30]

In [34]:
l

[400, 20, 30]

In [36]:
l[0]=10

In [38]:
l

[10, 20, 30]

In [40]:
icici = 234, 'jhgvaidfb767', 67898765

In [42]:
icici[0]

234

In [44]:
icici[0] = 567

TypeError: 'tuple' object does not support item assignment

In [46]:
t1*3

(3, 4, 5, 6, 3, 4, 5, 6, 3, 4, 5, 6)

In [50]:
l*3

[10, 20, 30, 10, 20, 30, 10, 20, 30]

In [52]:
l

[10, 20, 30]

In [54]:
t1

(3, 4, 5, 6)

In [56]:
t1[:2]

(3, 4)

In [58]:
t1[:10]

(3, 4, 5, 6)

In [64]:
for i in t1:
    print(i)

3
4
5
6

In [68]:
for i in enumerate(t1):
    print(i)

(0, 3)
(1, 4)
(2, 5)
(3, 6)

In [70]:
t3 = 10,10,10

In [72]:
t3

(10, 10, 10)

In [74]:
t4 = 10,20,'kjhgfdg', 23.5, 6+7j

In [76]:
t4

(10, 20, 'kjhgfdg', 23.5, (6+7j))

In [80]:
t5 = ('nit', 45)

In [82]:
t5[0]

'nit'

In [2]:
# craeting tuple
tup1 = ()

In [4]:
tup2 = (60,70,80)

In [6]:
tup3 = (10.77,6.98,4)

In [8]:
tup4 = (10,40.66,'ram', 3+4j)

In [10]:
tup5 = ('Asif', 25 ,[50, 100],[150, 90] , {'John' , 'David'} , (99,22,33))

In [12]:
tup5

('Asif', 25, [50, 100], [150, 90], {'David', 'John'}, (99, 22, 33))

In [14]:
#tuple indexing

In [20]:
tup2[0]

60

In [22]:
tup3[-1]

4

In [24]:
tup4[2]

'ram'

In [26]:
tup5[2][-1]

100

In [28]:
tup5[::-1]

((99, 22, 33), {'David', 'John'}, [150, 90], [50, 100], 25, 'Asif')

In [32]:
tup5[4]

{'David', 'John'}

In [36]:
# remove and change items

In [38]:
tup4[0]

10

In [40]:
tup4[0]==5

False

In [42]:
tup4[1] = 5

TypeError: 'tuple' object does not support item assignment

In [44]:
mytuple = ('one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight')

In [46]:
del mytuple[0]

TypeError: 'tuple' object doesn't support item deletion

In [48]:
mytuple[0] = 1

TypeError: 'tuple' object does not support item assignment

In [50]:
del mytuple

In [52]:
mytuple

NameError: name 'mytuple' is not defined

In [54]:
#Loop through a tuple

In [56]:
mytuple = ('one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight')

In [58]:
for i in mytuple:
    print(i)

one
two
three
four
five
six
seven
eight

In [60]:
for i in enumerate(mytuple):
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')
(5, 'six')
(6, 'seven')
(7, 'eight')

In [62]:
mytuple.count('one')

1

In [64]:
mytuple1 =('one', 'two', 'three', 'four', 'one', 'one', 'two', 'three')

In [66]:
mytuple1.count('one')

3

In [68]:
# tuple membership

In [72]:
'one' in mytuple

True

In [74]:
'ten' in mytuple

False

In [76]:
if 'three' in mytuple: # Check if 'three' exist in the list
    print('Three is present in the tuple')
else:
    print('Three is not present in the tuple')

Three is present in the tuple

In [78]:
if 'ten' in mytuple: # Check if 'three' exist in the list
    print('Ten is present in the tuple')
else:
    print('Ten is not present in the tuple')

Ten is not present in the tuple

In [80]:
# sorting
mytuple1

('one', 'two', 'three', 'four', 'one', 'one', 'two', 'three')

In [82]:
sorted(mytuple1)

['four', 'one', 'one', 'one', 'three', 'three', 'two', 'two']

In [86]:
sorted(mytuple1, reverse = True)

['two', 'two', 'three', 'three', 'one', 'one', 'one', 'four']

In [88]:
mytuple1

('one', 'two', 'three', 'four', 'one', 'one', 'two', 'three')

In [90]:
mytuple1

('one', 'two', 'three', 'four', 'one', 'one', 'two', 'three')

In [92]:
# using different funct
ch = input('enter a character:')
print(ch)

enter a character: hello

hello

In [98]:
ch1= input('enter a character:')[5]                               
print(ch1)

enter a character: qwergthfvd

t

In [102]:
# add 2 numbers by taking input frorm user
ch3= input('enter a number:')      
ch4= input('enter a  number:')  
sum = ch3+ch4
print('sum is:',sum)

enter a number: 5
enter a  number: 6

sum is: 56

In [106]:
# add 2 numbers by taking input frorm user
ch5= int(input('enter a number:'))      
ch6= int(input('enter a  number:'))  
sum = ch5+ch6
print('sum is:',sum)

enter a number: 5
enter a  number: 6

sum is: 11

In [112]:
# ela;luate an user expression
ch7= eval(input('enter an expression:'))      
print('evaluated expression:',ch7)

enter an expression: 5/4+8-6+23-86/96**2

evaluated expression: 26.24066840277778